@charset "utf-8";
/* CSS Document für den Testserver */


*
{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
} 


body	{ /*background-color:#dedede;*/
		  font: 100% "Trebuchet MS", Segoe, "Segoe UI", "DejaVu Sans",  Verdana, sans-serif;}
			
#wrapper
		{ background-color:rgba(132,96,97,0.10);
			width:300px;
			height:200px;
			margin:0 auto;}	
h3{text-align: center;
margin-bottom: .5rem;
    color:#374E3E; }
.navi{
    display: flex;
    flex-wrap: wrap;justify-content: space-between;
}

.navi a{
    background-color: rgba(242,196,109,0.50);
    color:#374E3E;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3125rem;	
    text-decoration: none;
    transition:padding-left 0.9s;
    font-family: Lucida Sans Unicode;
    font-size: 70%;
    font-weight: bold;
    cursor: pointer;
	
}

.navi a:hover{
padding-left: 10%;
	
}

.geheim{
  background-image:
       repeating-linear-gradient(-45deg, 
                                yellow 0%, 
                                yellow 2%, black 2%, 
                                black 4%, yellow 4%);
	width: 50%;
	padding: 1rem;
	list-style-type: none;
}
.geheim li{background-color: #fff; 
	padding: 2rem;
margin-bottom: 1rem;}

.geheim li:nth-last-of-type(1){
	margin-bottom: 0;
}

/* https://www.mediaevent.de/css/gradient.html */





/*nav
{
    height: 50px;
    display: flex;   
    justify-content: space-around;
    margin: 0;
    padding: 15px 5px; 
}
*/
























			
