@charset "utf-8";
/* CSS Document for history.html*/

*{
padding: 0;
margin: 0;
}

body {
font-family:   Lucida Grande, Lucida Sans Unicode;
}

.history{
background-color: rgba(223,165,249,0.40);
width: inherit;
height: auto;
color: #FFFFFF;
padding: 2rem 2rem;
text-align: center;
}

.section{
height: inherit;
color: rgba(0,0,0,1.00);
padding: 0.5rem 0.5rem;
border: 1px solid rgba(163,110,63,0.61);
border-radius: 25px;
margin-bottom: 4rem;
}

.text{ 
height: inherit;
}

img{
width:40%;
height: inherit;
}