

*{
padding: 0;
margin: 0;
}

body {
font-family:   Lucida Grande, Lucida Sans Unicode;
}
.container2{
background-color:rgba(223,165,249,0.40);
width: inherit;
padding: 0.6rem;
}


.map{
    background-color:rgba(223,165,249,0.60);
    width: 50%;
    padding: 1rem 1rem;
    margin: 0 auto;
    
}
.container2 h3{
    color: rgba(0,13,255,1.00);
    text-align: center;
}